@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bs-primary: #7E57C2;
    --bs-primary-rgb: 126, 87, 194;
    --bs-primary-bg-subtle: rgba(126, 87, 194, 0.1);
    --bs-link-color: #7E57C2;
    --bs-link-hover-color: #6949a3;
}

.btn-primary {
    --bs-btn-bg: #7E57C2;
    --bs-btn-border-color: #7E57C2;
    --bs-btn-hover-bg: #6949a3;
    --bs-btn-hover-border-color: #6949a3;
    --bs-btn-active-bg: #5e3f8e;
}
.btn-outline-primary {
    --bs-btn-color: #7E57C2;
    --bs-btn-border-color: #7E57C2;
    --bs-btn-hover-bg: #7E57C2;
    --bs-btn-hover-border-color: #7E57C2;
}

.form-control, .form-select {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    border-color: var(--bs-border-color) !important;
}

.form-control:focus, .form-select:focus {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0 0.25rem rgba(126, 87, 194, 0.25) !important;
}

.form-control::placeholder {
    color: var(--bs-secondary-color);
    opacity: 0.7;
}
